<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!--  <center>
        <h1>if-else conditions</h1>
        {% if a > b %}
            <h1>if block</h1>
            <h1>if conditions executed value of a is {{a}}  </h1>
        {% else %}
            <h1>else block</h1>
            <h1>else condition will be executed and value of b is {{b}}  </h1>
        {% endif %}
    </center> -->

    <!--<center>
        <h1>if- elif conditions</h1>
        {% if a > b and a > c %}
            <h1>if block</h1>
            <h1> if block will be executed value of a is {{a}} </h1>

        { elif b > c }
            <h1>elif block</h1>
            <h1> elif block will be executed and value of b is {{b}} </h1>

        {% else %}
            <h1>else block</h1>
            <h1>else block is executed value of c is {{c}}  </h1>
        {% endif %}
    </center>-->
    
   <!--- <center>
        <h1>NESTED LOOP IF-ELSE CONDITION</h1>
        {% if a > b %}
            {% if a > c %}
                <h1>a is greatest value of a is {{a}} </h1>
            {% else %}
                <h1>c is greatest value of c is {{c}} </h1>
            {% endif %}
        {% else %}
            {% if b > c %}
                <h1>b is greatest value of b i {{b}} </h1>
            {% else %}
                <h1>c is greatest value of c is {{c}} </h1>
            {% endif %}
        {% endif %}
    </center> -->
    <center>

    <h1>for loop by jinja tags</h1>
    <h1>my hobbies are</h1>
    {% for i in hobbies %}
        <h1>{{i}}</h1>
    {% endfor %}
    </center>
    <center>
<h1><a href="{% url 'data_render' %}">click here to navigate form condition to data_render html page</a></h1>
</center>

</body>
</html>