<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            displayong data which is send from backend
        </h1>
        <h1>
            i am the student of jspider and my name is {{name}}
        </h1>
{% if age > 10 %}
        <h1>
            and my age is {{age}}
        </h1>
{% endif %}
    </center>
    <center>
        <h1><a href="{% url 'conditions' %}">click here to navigate from data_render page to conditions html page</a></h1>
    </center>
</body>
</html>